## Core latex/pdflatex auxiliary files:
### LaTeX ###

IIS_Lab01.pdf
IIS_Lab02.pdf
IIS_Lab03.pdf
IIS_Lab04.pdf
IIS_Lab05.pdf

*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.~vsdx